@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --background-color: #ADBBDA66;
    --box-color: white;
    --accent-color: #7091e6;
    --secondary-color: #8697c4;
    --box-shadow-big: 0px 7px 50px -4px rgba(61, 82, 160, .3);
    --box-shadow: 0px 7px 18px -4px rgba(61, 82, 160, .3);
    --border: 01px rgba(61, 82, 160, .1) solid;
    --text-color: #3D52A0;
    --transition-jumpy: all .5s cubic-bezier(1,-0.76,0,1.5);
    --transition-smooth: all .3s ease-in-out;
}

* {
    font-family: "Montserrat", sans-serif;
    box-sizing: border-box;
    text-decoration: none;
    margin: 0;
    transition: var(--transition-smooth);
    color: var(--text-color);
}

html{
    height: 100%;
}

body {
    height: 100%;
    background-color: var(--background-color);
    padding-top: 7rem;
    overflow-y: scroll;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: .5rem;
    background-color: var(--box-color);
    box-shadow: var(--box-shadow-big);
    display: flex;
    justify-content: center;
    gap: 2rem;
    z-index: 100;
}

nav a {
    box-shadow: var(--box-shadow);
    border: var(--border);
    border-radius: 1.4rem;
    background-color: var(--secondary-color);
    padding: .5rem 1rem;
    color: white;
    text-wrap: nowrap;
    font-weight: bold;

    transition: var(--transition-jumpy);
}

nav a:hover {
    background-color: white !important;
    color: var(--text-color);
    cursor: pointer;
}

nav a.active {
    background-color: var(--box-color);
    color: var(--text-color);
    border: none;
    box-shadow: none;
    transform: translateY(55%);
    font-size: larger;
}


.title {
    color: white;
    background-color: var(--secondary-color);
    padding: .5rem 3rem;
    border-radius: 2rem;
    box-shadow: var(--box-shadow);
    margin-bottom: 1rem;
}
main {
    flex-direction: column;
    display: flex;
    align-items: center;
    width: 100%;
    margin: 1rem 1rem 15rem 0;
    transition: var(--transition-jumpy);
    
    .container {
        background-color: var(--box-color);
        box-shadow: var(--box-shadow);
        margin: .5rem 0;
        flex-direction: column;
        border: var(--border);
        border-radius: .5rem;
        align-items: center;
        padding: 2rem 3rem;
        display: flex;
        max-width: 85rem;
        
        .images {
            justify-content: space-around;
            flex-wrap: wrap;
            display: flex;
            width: 100%;

            img {
                height: 13rem;
            }
        }

        h2 {
            text-align: center;
            margin-top: 2rem;
        }  
        h3 {
            margin-bottom: .3rem;
        }  
        p {
            line-height: 1.7rem;
        }    
    }
}
#start .contents {
    display: grid;
    grid-template-columns: .5fr 1fr;
    grid-template-rows: repeat(2, 1fr);
    gap: 8px;
}

#start .contents .container:last-child {
    grid-column: span 2 / span 2;
    
}

.sticker {
    position: relative;
}
  
.sticker::before,
.sticker::after {
    content: "";
    position: absolute;
    width: 150px;
    height: 150px;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 10;
}

.sticker-diag::before {
    top: -3.5rem;
    right: -3.5rem;
    background-image: url('images/cloud.svg');
    transform: scaleX(-1);
}

.sticker-diag::after {
    bottom: -6.5rem;
    left: -3rem;
    background-image: url('images/cloud.svg');
}

.sticker-inline {
    display: flex;
    gap: 1rem;
}

.sticker-inline::before,
.sticker-inline::after {
    content: "";
    width: 76px !important;
    height: 40px;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 10;
    background-image: url('images/cloud.svg');
}

.sticker-inline::after {
    transform: scaleX(-1);
}

body::-webkit-scrollbar {
    width: .7rem;
}

body::-webkit-scrollbar-track {
    background: var(--background-color);
}

body::-webkit-scrollbar-thumb {
    background-color: var(--accent-color);
    border-radius: 1rem;
}

*::selection {
    background-color: var(--secondary-color);
    color: white;
}

.row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

.row h3 {
    margin-bottom: .6rem;
}

.hover-images {
    border: var(--border);
    border-radius: 1rem;
    text-align: center;
    box-shadow: var(--box-shadow);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25rem;
    overflow: hidden;
}
#placeholder {
    transition: var(--transition-jumpy);
}
#img {
    width: 25rem;
    height: 11rem;
    transition: var(--transition-jumpy);
}
.image-cont {
    display: grid;
    grid-template-columns: 75% 25%;
    width: 70%;
    gap: 2rem;
    margin-top: 1rem;
}
.hover-ul li:hover {
    font-weight: bold;
    cursor: pointer;
}
.btn {
    border: var(--border);
    border-radius: .3rem;
    margin: 0 .3rem;
    padding: .2rem .5rem;
    background: var(--secondary-color);
    color: white;
    cursor: pointer;

    &:active {
        background: #555;
    }
}
ul {
    margin-top: .1rem;
}
li {
    margin: .3rem 0;
}

.hidden {
    position: fixed;
    opacity: 0%;
    transform: translateY(-35%);
    z-index: -5;
}

/*COMPONENT CSS*/
button{
    border-radius: 100%;
    box-shadow: var(--box-shadow);
}
button:hover{
    background: grey;
}
.comp{
    a{
        display:flex;
        flex-direction: row;
        justify-content:center;
        text-align:center;
    }
    .saturs{
        display:flex;
        flex-direction: row;
        gap: 1.5rem;
        border-radius: 2rem;
        box-shadow: var(--box-shadow);
    }
}
.bx{
    display: flex;
    flex-direction: column;
    box-shadow: var(--box-shadow);
    padding: 2rem;
    margin: 1rem;
    border-radius: 1rem;
    gap: 1rem;
}

.jautajums{
    color: white;
    background-color: var(--background-color);
    padding: .5rem 3rem;
    border-radius: 2rem;
    box-shadow: var(--box-shadow);
    margin-bottom: 1rem;
}
.jautajums-row {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}
.atbilde{
    background-color: var(--background-color);
    box-shadow: var(--box-shadow);
    border-radius: 2rem;
    width: 20rem;
    height: 4rem;
    text-align: center;
    align-items: center;
    display: flex;
    text-wrap: wrap;
    justify-content: center;   
}
.atbilde div {
    height: fit-content;
}
.atbilde:hover{
    cursor: pointer;
    background: var(--accent-color);
}

.atbilde:hover div {
    color: white;
}


/*COMPONENT CSS*/

/*FOOTER CSS*/

.footer {
    position: relative;
    width: 100%;
    background: #3586ff;
    min-height: 100px;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .social-icon,
  .menu {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
  }
  
  .social-icon__item,
  .menu__item {
    list-style: none;
  }
  
  .social-icon__link {
    font-size: 2rem;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
  }
  .social-icon__link:hover {
    transform: translateY(-10px);
  }
  
  .menu__link {
    font-size: 1.2rem;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
    text-decoration: none;
    opacity: 0.75;
    font-weight: 300;
  }
  
  .menu__link:hover {
    opacity: 1;
  }
  
  .footer p {
    color: #fff;
    margin: 15px 0 10px 0;
    font-size: 1rem;
    font-weight: 300;
  }
  
  .wave {
    position: absolute;
    top: -100px;
    left: 0;
    width: 100%;
    height: 100px;
    background: url("https://i.ibb.co/wQZVxxk/wave.png");
    background-size: 1000px 100px;
  }
  
  .wave#wave1 {
    z-index: 1000;
    opacity: 1;
    bottom: 0;
    animation: animateWaves 4s linear infinite;
  }
  
  .wave#wave2 {
    z-index: 999;
    opacity: 0.5;
    bottom: 10px;
    animation: animate 4s linear infinite !important;
  }
  
  .wave#wave3 {
    z-index: 1000;
    opacity: 0.2;
    bottom: 15px;
    animation: animateWaves 3s linear infinite;
  }
  
  .wave#wave4 {
    z-index: 999;
    opacity: 0.7;
    bottom: 20px;
    animation: animate 3s linear infinite;
  }
  
  @keyframes animateWaves {
    0% {
      background-position-x: 1000px;
    }
    100% {
      background-positon-x: 0px;
    }
  }
  
  @keyframes animate {
    0% {
      background-position-x: -1000px;
    }
    100% {
      background-positon-x: 0px;
    }
  }
  
/*FOOTER CSS*/